body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container,
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  z-index: 20;
  position: relative;
}
